@media screen and (max-width: 767px) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  .bg-grey {
    background: #f7f7f7;
  }

  .banner {
    position: absolute;
    top: 30px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
    color: #f7f7f7;
    width: 100%;
    height: 5%;
  }
  ul {
    list-style: none;
  }

  li::before {
    content: "•";
    color: blue;
    display: inline-block;
    width: 1em;
    font: 26px sans-serif;
    margin-left: -1em;
  }

  body {
    margin: 2%;
    line-height: 1.4;
  }

  .anhbanner {
    position: relative;
    filter: brightness(50%);
    display: block;
    width: 100%;
    padding-left: 2%;
  }

  /*ICON*/
  .icon {
    color: rgb(27, 74, 228);
    padding: 0;
  }
  .icon1 {
    color: rgb(27, 74, 228);
    font-size: 1.8em;
    border: 1px solid #0026ff;
    border-radius: 100px;
    padding-left: 3%;
    padding-top: 11%;
    width: 2em;
    height: 2em;
  }

  .icon2 {
    margin-right: 66px;
    font-size: 3em;
  }

  a {
    text-decoration: none;
  }

  /*NAv*/
  .nav {
    text-align: left;
    max-width: 767px;
    display: block;
    padding-left: 2em;
    font-size: 1.1em;
    padding-top: 2%;
  }
  .nav1,
  .nav2,
  .nav5,
  .nav4 {
    height: 2em;
    padding-right: 100px;
  }
  .nav6 {
    display: none;
  }

  .nav31 {
    color: rgb(192, 192, 192);
    font-size: 12px;
  }

  .muctieuvathongtin {
    max-width: 100%;
    line-height: 1.4;
    height: 33%;
  }
  #target {
    background-color: #f3f2f2;
    width: 100%;
    padding-bottom: 1px;
  }
  .target-1 {
    padding: 1em;
    font-size: 1.2em;
  }
  #personal-info {
    background-color: #dad8d8;
    width: 100%;
  }
  .personal-info-1 {
    padding: 1em;
    font-size: 1.2em;
  }
  .target-2 {
    padding-top: 5%;

    padding-left: 3%;
  }

  /*KINH NGHIEM ,HOC VAN ,HOAT DONG ,SO THICH ,NGON NGU ,KY NANG*/
  .gioithieu {
    max-width: 99%;
    justify-content: center;
    padding-top: 4%;
    padding-left: 2%;
  }

  .kinhnghiem,
  .hocvan,
  .hoatdong,
  .sothich,
  .ngonngu,
  .kynang {
    border: 1px solid #ece8e9;
    text-align: left;
    padding-left: 5%;
    padding-bottom: 5%;
    font-size: 1.2em;
  }

  .Experience,
  .Education,
  .Work,
  .Interest,
  .Language,
  .Skill {
    display: flex;
    padding: 5% 0 5% 0;
  }
  .Experience-1,
  .Education-1,
  .Work-1,
  .Interest-1,
  .Language-1,
  .Skill-1 {
    width: 80%;
    font-size: 1.5em;
  }
  .Experience-2,
  .Education-2,
  .Work-2,
  .Interest-2,
  .Language-2,
  .Skill-2 {
    width: 20%;
  }
  .merge {
    padding: 0 10%;
  }

  .i {
    background-color: blue;
    color: rgb(252, 252, 252);
    border-radius: 20px;
    display: inline-block;
    width: 30%;
    text-align: center;
  }
  .sothich1 {
    display: flex;
    justify-content: center;
    gap: 1.8%;
    padding-right: 7%;
    max-width: 100%;
    text-align: center;
  }
  .sothich2 {
    width: 33%;
    text-align: center;
  }

  .ngonngu2 {
    display: flex;
    margin: 10px 0px;
  }
  .bl {
    background: #199cdb;
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 85px;
  }
  .gr {
    background: #d4d6d6;
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 85px;
  }

  /*CHỨNG CHỈ-GIẢI THƯỞNG*/
  #certificate {
    width: 97%;
    margin-top: 5%;
    margin-left: 1.4%;
  }
  .AwardCertificate {
    width: 100%;
    font-size: 1.2em;
    line-height: 0.9em;
  }

  .AwardCertificate-2,
  .AwardCertificate-3,
  .AwardCertificate-4 {
    padding-bottom: 1em;
    width: 94%;
    padding-left: 5%;
  }
  .AwardCertificate-6 {
    width: 100%;
    padding: 5%;
  }
  .anhchungchigiaithuong {
    width: 100%;
    padding-bottom: 3%;
  }
  .gachngang-1 {
    border-bottom: 2px solid #d6c08d;
    max-width: 636px;
    display: block;
    margin-bottom: 1.5em;
    margin-left: 3.5%;
  }

  .gachngang-2 {
    border-bottom: 2px solid #d6c08d;
    max-width: 636px;
    display: block;
    margin-bottom: 1.5em;
    margin-left: 3.5%;
  }
  /*DỰ ÁN*/
  #project {
    width: 97%;
  }
  .project-1 {
    padding: 5%;
  }
  table,
  tr {
    border: 1px solid rgb(209, 208, 208);
    display: flex;
    width: 100%;
  }
  table {
    border-collapse: collapse;
  }

  th {
    font-weight: 400;
    margin: 1em 0 1em 1.8em;
  }
  .anhduan {
    width: 100%;
    padding: 0 auto;
    display: block;
  }
  .nam2021 {
    background-color: blue;
    color: gainsboro;
    border-radius: 20px;
    max-width: 70px;
    height: 30px;
    text-align: center;
  }

  .duan {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: left;
    padding-left: 5%;
    row-gap: 40px;
  }
  .duan1 {
    width: 30%;
  }
  .duan2 {
    width: 70%;
  }

  /*LINK*/
  #footer {
    margin-top: 1em;
    height: auto;
    width: 100%;
  }
  .link {
    text-align: center;
    font-size: 1.2em;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .icon4 {
    color: blue;
    font-size: 26px;
  }
  .link1 {
    color: #838282;
  }

  /*NANG CAO
.anhnangcao {
  max-width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50%;
  top: 93%;
  border: 10px solid rgb(255, 255, 255);
  display: block;
  right: 42.5%;
}
*/
}
